<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- Main plugin class -->
    <class>name.theberge.smsxmpp.xmppserver.SMSXMPPPlugin</class>

    <!-- Plugin meta-data -->
    <name>SMSXMPP Plugin</name>
    <description>This serves as an xmpp connector for the SMSXMPP gateway</description>
    <author>Pier-Luc Théberge</author>

    <version>0.1</version>
    <date>2014/02/01</date>
    <minServerVersion>3.0.0</minServerVersion>
    <licenseType>other</licenseType>
    <databaseKey>ofSmsxmpp</databaseKey>
    <databaseVersion>0</databaseVersion>

    <adminconsole>
        <tab id="smsxmpptab" name="SMSXMPP" url="smsxmpp-admin.jsp" description="Manage SMSXMPP">
            <sidebar id="smsxmpp-sidebar" name="SMSXMPP">
               <item id="smsxmpp-settings" name="SMSXMPP Settings"
                   url="smsxmpp-admin.jsp"
                   description="Manage SMSXMPP Settings" />
            </sidebar>
        </tab>

    </adminconsole>
</plugin>