<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- Main plugin class -->
    <class>name.theberge.smsxmpp.xmppserver.SMSXMPPPlugin</class>

    <!-- Plugin meta-data -->
    <name>SMSXMPP Plugin</name>
    <description>This serves as an xmpp connector for the SMSXMPP gateway</description>
    <author>Pier-Luc Théberge</author>

    <version>0.1</version>
    <date>2010/02/01</date>
    <minServerVersion>3.0.0</minServerVersion>
    <licenseType>gpl</licenseType>

    <adminconsole>
        <tab id="smsxmpptab" name="SMSXMPP" url="smsxmpp-admin.jsp" description="Click to manage...">
            <sidebar id="mysidebar" name="SMSXMPP">
               <item id="my-plugin" name="SMSXMPP Settings"
                   url="smsxmpp-admin.jsp"
                   description="Click to administer settings for my plugin" />
            </sidebar>
        </tab>

    </adminconsole>
</plugin>